body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: #eeeff2;
    color: #1f314d;
}

/* Khung chính của trang */
header,
main,
footer {
    width: 90%;
    max-width: 1050px;
    margin: auto;
    box-sizing: border-box;
}

/* Phần đầu trang */
header {
    background-color: #dfe4ea;
    padding: 30px 20px;
    border-radius: 15px 15px 0 0;
}

/* Thanh menu */
nav {
    display: inline-block;
    width: 80%;
}

nav img {
    width: 10%;
}

li {
    display: inline-block;
    width: 200px;
}

li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Tiêu đề */
h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: #14102f;
}

/* Nội dung */
main {
    background-color: white;
    padding: 30px;
    min-height: 350px;
    border-radius: 15px;
    font-size: 18px;
    line-height: 1.6;
}

/* Đoạn văn */
p {
    line-height: 1.7;
}

/* Chân trang */
footer {
    background-color: #050505;
    color: white;
    padding: 20px 30px;
    border-radius: 0 0 15px 15px;
}

footer a {
    color: white;
}

grid {
    display: grid;
    grid-template-columns: 40% 40%;

    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

grid img {
    width: 100%;
}
